---
layout: archive
author_profile: true
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<p>
  Chacko has as much experience of creating logical and innovative solutions to complex problems. As someone who takes responsibility for his own personal development, he is continually evaluating and upgrading his skills. He is thorough and precise in everything he does, and has a keen interest in latest technology relating to application development. An ambitious problem solver with a passion for online businesses and teamwork, and who would like to join a team of like-minded individual.
</p>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
